body{
  margin: auto;
  max-width: 1000px;
  font-family:  arial, sans-serif;
  background: rgba(148,187,233,1);
background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(148,187,233,1) 100%);
}



